.tier-container {
    background: linear-gradient(to right, #b2834a, #fff);
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }
  
  .tier-container .label {
    font-size: 1.125rem;
    font-weight: 500;
  }
  
  .tier-container .value {
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 0.5rem;
  }
  